body{
    padding: 20px;
}

#input {
    border: solid 1px grey;
    padding: 0 10px;
    margin-right: 5px;
    border-radius: 4px;
}

.btn {
    padding: 5px;
    border-radius: 4px;
    color: white;
}

.bg-green{
    background-color: green;
}

.bg-orange{
    background-color: orange;
}

.bg-red{
    background-color: red;
}

.tarefa {
    border-radius: 4px;
    padding: 20px;
    border: solid 1px grey;
    margin: 20px 0;
}